* {
    margin: auto;
    padding: auto;
  }
  
  header {
    background-color: rgb(135, 80, 156);
    width: 100%;
    height: 480px;
  }
  
  header .menutop {
    display: flex;
    padding-top: 13px;
  }
  
  header .menutop ul.menuright {
    display: flex;
    list-style: none;
    padding-top: 30px;
  }
  
  header .menutop .logoleft {
    font-family: 'TitilliumWeb', sans-serif;
    font-size: 45px;
    color: white;
  }
  
  header .menutop ul.menuright li {
    padding: 8px;
  }

  header .mota {
    display: block;
    text-align: center;
    font-family: segoe ui;
    font-size: 25px;
    width: 70%;
    padding-top: 80px;
    margin: 0 auto 0 auto;
    color: white;
  }
  header .menutop ul.menuright li a {
    font-family: segoe UI light;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 4px;
    transition: 0, 4px;
    color: white;
    font-size: 15px;
  }
  
  header .menutop ul.menuright li a:hover {
    background-color: rgb(138, 47, 184);
  }
  
  
  
  header button {
    display: block;
    text-align: center;
    background-color: rgb(207, 89, 35);
    width: 250px;
    height: 55px;
    border: none;
    border-bottom: 3px solid #be5625;
    border-radius: 4px;
    text-transform: uppercase;
    color: white;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  footer{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    background-color: rgb(74, 111, 233);
  }
  footer .tieude{
  font-size: 30px;
  font-family: segoe ui;
  color: white;
  text-align: center;
  padding: 50px 0 15px 0;
  text-transform: uppercase;

  }
  footer .mota3{
    display: block;
    text-align: center;
    font-family: segoe ui;
    font-size: 20px;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0 auto 0 auto;
    color: white;
  }
  
  footer .inputtext {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 625px;
  }
  
  footer .inputtext .nameemail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-column-gap: 26px;
  }
  
  footer .nameemail .inputleft input {
    width: 415px;
    background-color: #254299;
    height: 60px;
    border-radius: 7px;
    border: none;
    margin-left: -110px;
  }
  
  footer .nameemail .inputright input {
    padding-right: 0px;
    width: 415px;
    right: 0px;
    background-color: #254299;
    height: 60px;
    border-radius: 7px;
    border: none;
  }
  
  footer .inputtext #message {
    border-radius: 7px;
    background-color: #254299;
    border: none;
    grid-column: 1/3;
    width: 853px;
    height: 200px;
    margin-left: -110px;
  }
  footer button {
    display: block;
    text-align: center;
    background-color: #48c3ec;
    width: 295px;
    height: 70px;
    font-family: 'TitilliumWeb', sans-serif;
    border: none;
    border-bottom: 5px solid #299ec5;
    border-radius: 7px;
    text-transform: uppercase;
    color: white;
    margin-top: 60px;
    margin-bottom:115px ;
    margin-left: auto;
    margin-right: auto;
  }
  .contactfooter{
    background-color: rgb(87, 57, 221);
    width: 2500px;
    height: 110px;
    margin-left: -680px;  
  }
  footer ul.contact {
    display: flex;
    list-style: none;
    width: 800px;
    align: center;
    margin-left: 475px;
    margin-right: auto;
    margin-top: 140px;
    font-size: 20px;
  }
  
  footer ul.contact a {
    color: white;
    display: block;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    padding: 45px 35px 40px 35px;
    transition: 0.4s;
  }
  
  footer ul.contact a:hover {
    color: #3286bd;
  }
  
  .provide{
    margin-top: auto;
    margin-bottom: 0px;
    text-align: center;
    background-color:rgb(39, 192, 159) ;
  }

  .provide .h4{
    text-align: center;
    margin-top: auto;
    margin-bottom: 25px;
    font-family: segoe ui;
    font-size: 30px;
    color: white;
    padding-top: 120px;
  }

  .provide .cangiua{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(39, 192, 159);
  }

  .provide .mota2{
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .provide .services {
    display: flex;
    list-style: none;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 250px;
    padding-left: 400px;
    margin: 5px;
    color: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 15px;
  }
 